name: MLflow CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn numpy

      - name: Run training
        run: |
          cd MLProject
          python modelling.py

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: iris-model
          path: MLProject/artifacts/iris_model.pkl
